@import '../../../../consts.scss';

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 380px;
  height: 480px;
  padding: 15px;
  border-radius: 10px;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: contain;
  color: $font;
  box-shadow: 0px 0px 10px $font;
}

.hidden {
  display: none;
}

.wordInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  min-width: 120px;
  background-color: rgba($bg-color, 0.5);
  backdrop-filter: blur(5px);
  border-radius: 10px;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 200px;
  gap: 15px;
  width: 100%;
  padding: 10px;
  background-color: rgba($bg-color, 0.5);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  align-self: center;
  font-size: 0.9em;
}

.meaningInfo,
.exampleInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.playButton {
  width: 25px;
  height: 25px;
  background-image: url('../../../../../public/icons/sound2.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.playButton:hover {
  opacity: 0.8;
}

.cardGroup0 {
  background-color:rgba($yellow-normal, 0.5);
}

.cardGroup1 {
  background-color:rgba($green-light, 0.5);
}

.cardGroup2 {
  background-color:rgba($red-light, 0.5);
}

.cardGroup3 {
  background-color:rgba($blue-light, 0.5);
}

.cardGroup4 {
  background-color:rgba($color-11, 0.5);
}

.cardGroup5 {
  background-color:rgba($color-13, 0.5);
}

.cardGroup6 {
  background-color:rgba($color-14, 0.5);
}
