@import '../../../../consts.scss';

.navContainer {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba($bg-color, 0.3);
  backdrop-filter: blur(5px);
  z-index: 4;
  padding-bottom: 10px;
  box-shadow: 0px -5px 25px $font;
}

.pagination {
  display: flex;
}

.categoriesBtn {
  border: none;
  width: 2rem;
  height: 2rem;
  color: white;
  border-radius: 3px;
  box-shadow: 0px 0px 2px $font;
}

.categorie1 {
  background-color: $yellow-normal;
}

.categorie2 {
  background-color: $green-light;
}

.categorie3 {
  background-color: $red-light;
}

.categorie4 {
  background-color: $blue-light;
}

.categorie5 {
  background-color: $color-11;
}

.categorie6 {
  background-color: $color-13;
}
.difficultBtn {
  border: none;
  width: 10rem;
  height: 2rem;
  color: white;
  border-radius: 3px;
  box-shadow: 0px 0px 2px $font;
  background-color: $color-14;
}

.prevButton {
  width: 2rem;
  height: 2rem;
  background-image: url('../../../../../public/icons/prev.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.nextButton {
  width: 2rem;
  height: 2rem;
  background-image: url('../../../../../public/icons/next.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.pageInfo {
  width: 5rem;
  height: 2rem;
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
}

.prevButton:hover,
.nextButton:hover {
  opacity: 0.8;
  filter: invert(46%) sepia(51%) saturate(372%) hue-rotate(117deg)
    brightness(94%) contrast(98%);
  transition: 0.5s;
}

.audiocallBtn,
.sprintBtn {
  border: none;
  width: 9rem;
  height: 2rem;
  color: white;
  border-radius: 3px;
  box-shadow: 0px 0px 2px $font;
  background-color: $green-light;
}

.btnContainer {
  display: flex;
  align-items: center;
  gap: 2.2rem;
}

.audiocallBtn:hover,
.sprintBtn:hover,
.categoriesBtn:hover,
.difficultBtn:hover {
  opacity: 0.8;
  transition: 0.5s;
  filter: brightness(1.1);
}
