@import '../../../../../consts.scss';

.nextBtnContainer {
  display: flex;
  justify-content: center
}

.next {
  margin-top: 20px;
  width: 13vw;
  height: 3rem;
  color: $bg-color;
  font-size: 18px;
  background-color: $blue-light;
  box-shadow: 0px 0px 5px $font;
}

.false {
  margin-top: 20px;
  width: 13vw;
  height: 3rem;
  color: $bg-color;
  font-size: 18px;
  background-color: $red-light;
  box-shadow: 0px 0px 5px $font;
}