@import '../../consts';

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(81,191,166);
  background: linear-gradient(0deg, rgba(81,191,166,1) 0%, rgba(150,217,200,1) 100%);
  min-height: 3em;
  padding: 0 1em;
  color: $bg-color;
  div {
    display: flex;
    align-items: center;
    gap: 1em;
  }
}