$font: #355366;
$bg-color: #FFFFFF;
$green-dark: #3C8F7D;




$blue-light: #86B2F3;
$blue-normal: #466EB6;
$blue-dark:#355389;

$green-light: #96D9C8;
$green-normal: #51BFA6;

$yellow-light: #FBE0B3;
$yellow-normal: #F7CC7E;

$red-light: #F48C7F;
$red-normal: #F47457;
$red-dark: #B75741;



$color-3: #B05744;
$color-4: #A7D8CF;
$color-5: #8FADDB;
$color-6: #F9DEB3;
$color-7: #153E58;
$color-8: #549587;
$color-9: #51BFA6;
$color-11: #D8A6B0;
$color-10: #B0816E;
$color-12: #C4C6C7;
$color-13: #9BC3D5;


//color for categories
$color-11: #D8A6B0;
$blue-light: #86B2F3;
$green-light: #96D9C8;
$yellow-normal: #F7CC7E;
$red-light: #F48C7F;
$color-5: #8FADDB;