$font: #355366;
$bg-color: #ffffff;
$green-dark: #3c8f7d;

$blue-light: #86b2f3;
$blue-normal: #466eb6;
$blue-dark: #355389;

$green-light: #96d9c8;
$green-normal: #51bfa6;

$yellow-light: #fbe0b3;
$yellow-normal: #f7cc7e;

$red-light: #f48c7f;
$red-normal: #f47457;
$red-dark: #b75741;

$color-3: #b05744;
$color-4: #a7d8cf;
$color-5: #8faddb;
$color-6: #f9deb3;
$color-7: #153e58;
$color-8: #549587;
$color-9: #51bfa6;
$color-11: #d8a6b0;
$color-10: #b0816e;
$color-12: #c4c6c7;
$color-13: #9bc3d5;
$color-14: #a498d7;
